$page-background-color: #fff;
$font-color: #000;
$font-family: 'Source Sans Pro', sans-serif;
$font-size: 16pt;
$link-color: #479dff;
$color-main-typography: #e87722;
$background-color-panels: #e87722;
$general-padding-size: 30px;